.sidebar {
  width: 15vw;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #b0fff6;
  padding: 10px 10px;
  box-sizing: border-box;

  a {
    text-decoration: none;
    color: #191919;
    padding: 5px 0;
    border-radius: 4px;

    &.active {
      color: #00bba6;
    }

    &:hover {
      color: #019785;
      background: #e8e8e8;
    }
  }
}

.profileLink {
  &::before {
    content: url("../../assets/icon/navigation/profile.png");
    margin-right: 5px;
  }
}

.messageLink {
  &::before {
    content: url("../../assets/icon/navigation/message.png");
    margin-right: 5px;
  }
}

.developersLink {
  &::before {
    content: url("../../assets/icon/navigation/web-development.png");
    margin-right: 5px;
  }
}