.app-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 90vw;
  margin: 0 auto;
}

.body-app-wrapper {
  display: flex;
  min-height: 88vh;
}

.content {
  width: 85%;
  background-color: crimson;
}