.wrapperForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rowForm {
  display: flex;
  position: relative;

}

.wrapperCheckbox {
  padding: 0 0 10px 0;
  display: flex;
  align-items: center;
}

.checkbox {
  appearance: none;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  background: #ccc;
  border-radius: 4px;

  &:hover {
    border: 1px solid #5a5a5a;
  }

  &:checked {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #009e8b;
  }

  &:checked::before {
    content: '\2714';
    color: #fff;
  }
}